<h3>Are you sure you want to delete this status message?</h3>

<table>
        
    <colgroup>
                
        <col span="1" style='width: 40%;'>
        <col span="1" style='width: 60%;'>

    </colgroup>
    
    <tr>
        <th>Time</th>
        <th>Message</th>
    </tr>
    <tr align="center">
        <td>{{Profiles.timestamp}}</td>
        <td>
            {{Profiles.message}}<br>
            {% if Profiles.image_file %}
            <img src='{{Profiles.image_file.url}}' style='max-width: 200;'>
            {% endif %}
        </td>
</table>

<p>

</p>


<form method='POST'>
    {% csrf_token %}
    <input type='submit' name="yes" value="yes">
</form>
<form method='GET' action="{% url 'show_profile_page' Profiles.profile.pk %}">
    {% csrf_token %}
    <input type='submit' name="no" value="no">
</form>
        
        