<!-- show_profile_page.html -->

<h1>Mini Facebook</h1>
<br>

{% extends 'mini_fb/base.html' %}

{% block content %}
    
    <h3>{{profile.first_name}} {{profile.last_name}}'s Profile Page</h3>
    <img src="{{profile.image_url}}" width="400" height="400">
    <h3>Email: {{profile.email_address}}</h3>
    <h3>City: {{profile.city}}</h3>
    <h3>Birth Date: {{profile.birth_date}}</h3>
    <a href="{% url 'update_profile' profile.pk %}">Edit this profile</a>
    <hr>
    
    <h2>Post a status message</h2>
    <form method="POST" action="{% url 'post_status' profile.pk%}" enctype="multipart/form-data"><!-- HTTP POST to send data to the server -->
        {% csrf_token %}
        <!-- display the form context variable -->
        <!-- {{form}} -->
        <!-- {{form.as_p}} <!-- paragraph style formating-->
        <table>
        {{create_status_form.as_table}}
        <tr>
            <td></td>
            <td><input type="submit" value="Share!"></td>
        </tr>
        </table>
    </form>
    
    <h2>Status Messages</h2>
    <table>
        
        <colgroup>
                    
            <col span="1" style='width: 40%;'>
            <col span="1" style='width: 60%;'>

        </colgroup>
        
        <tr>
            <th>Time</th>
            <th>Message</th>
        </tr>
        {% for st_msg in profile.get_status_messages %}
        <tr align="center">
            <td>{{st_msg.timestamp}}</td>
            <td>
                {{st_msg.message}}<br>
                {% if st_msg.image_file %}
                <img src='{{st_msg.image_file.url}}' style='max-width: 200;'>
                {% endif %}
            </td>
            <td><a href="{% url 'delete_status' profile_pk=profile.pk status_pk=st_msg.pk %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}
